// Estilos existentes para el componente...

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal.show {
  opacity: 1;
}

.modal-backdrop {
  z-index: 1040;
}

.btn-link {
  text-decoration: none;
  color: #0d6efd;
  
  &:hover {
    text-decoration: underline;
    color: #0b5ed7;
  }
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
}